__pycache__/*


experiments/*/
experiments/*

*.out

scripts/*


.vscode/

.DS_Store

*.log
*.pyc

cache/*

*/__pycache__/*

*.env

*.egg-info

tools/train.sh
tools/visualize.sh

cache/*/

datasets/*/
results/*/

datasets/beat_english_v2.0.0
datasets/assets_deps

tools/train.sh
tools/visualize.sh